<h1>BATMAN VS SUPERMAN</h1>

<div class="container">
  <div class="col-md-6 thumbnail"> 
    <%= image_tag "batman.png" %>
    <button class="btn btn-default">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="<%= pages_batman_path %>">Vota</a></span></button>
    
  </div>
  
  <div class="col-md-6 thumbnail">
    <%= image_tag "superman.png" %>
    <button class="btn btn-default"><span class="glyphicon glyphicon-star"><a href="<%= pages_superman_path %>">Vota</a></span></button>
  

